@model List<ContaBancaria>

    <h1> Conta Bancaria </h1>

@foreach (ContaBancaria p in Model)
{
    <div class="card bg-light">
        <div class="card-body">
            <b>NomeTitular:</b>@p.NomeTitular
            <b>Saldo:</b>@p.Saldo
            <b>Ativa:</b>@p.Ativa
        </div>
    </div>
}
<div>
    <a asp-action="NovaContaBancaria">Novo Conta</a>
</div>