@{
    ViewBag.Title = "Conceito";
}

<p>
    Esta aplicação destina-se a fazer a gestão das suas despesas. A aplicaçao foi feita para treinar os conteúdos aprendidos na UC de DA2 da ESCE/IPS.
</p>

<div>
    <a asp-action="Index">Voltar ao início</a>
</div>