@{
    ViewBag.Title = "Entrada";
}

<div class="card">
    <div class="card-body text-center bg-light">
        <h1 class="card-title">SuperCompras</h1>
        <h6 class="card-subtitle mb-2 text-muted">Comprar é ganhar!</h6>
    </div>
</div>

<div>
    <a asp-action="Conceito">Conceito</a>
</div>